@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ededed;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.Input-value {
  color: black;
}

.all-sections {
  color: aquamarine;
  /* border: brown solid 2; */
  display: flex;
  flex-direction: row;
  gap: 5px;
}

form {
  border: rgba(165, 42, 42, 0.262) solid 2;
  background-color: #212121;
  border-radius: 6px;
  padding: 10px;
  margin: 10 0 10 10;
}

button {
  background-color: #000;
  padding: 8px;
  border-radius: 10px;
  border: rgb(210, 126, 8) solid 2;

  margin-top: 15px;
  text-align: right;
}
.display-section label {
  color: #363131;
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  margin-left: 25px;
  /* border: burlywood 2 solid; */
}

.display-section {
  background-color: #ededed;
  width: 100%;
  color: #0a0a0a;
}

.personal-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #a0a0a0;
  padding: 10px 20px;
  margin: 15px 0;
}

.name-output {
  font-size: xx-large;
  font: 5em sans-serif;
  font-stretch: expanded;
}

.education-details,
.Experience-details {
  margin: 50 0 0 0;
}

.education-content,
.Experience-content {
  border-left: rgb(0, 0, 0) solid 2;

  margin: 0 30px;
  padding: 0 10px;
}
